@import "../functions";
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.user_info_container{
    // border: 2px solid white;
  font-family: 'Inter', sans-serif;
   display: flex;
   width: 50rem;
   align-items: center;
   justify-content: space-around;
   .Usercntslider{
       width: 40%;
       margin-top: 2rem;
   }
   h2{
       font-size: 2rem;
   }
}